<header>
    <div class="head-logo">
        <a href="/"><img src="/images/logo.svg" alt=""></a>
    </div>
    <div class="head-menu">
        <a href="">
            <img src="/images/icons/play.svg" alt="">
            Онлайн-кинотеатр
        </a>
        <a href="">
            <img src="/images/icons/gift.svg" alt="">
            Ввести промокод
        </a>
        <div class="head-search">
            <input type="text" placeholder="Фильмы, сериалы, персоны">
            <button>
                <!-- <svg class="styles_advancedSearchIcon__Zxjax" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.2917 7.58317C12.913 7.58317 13.4167 7.07949 13.4167 6.45817C13.4167 5.83685 12.913 5.33317 12.2917 5.33317C11.6704 5.33317 11.1667 5.83685 11.1667 6.45817C11.1667 7.07949 11.6704 7.58317 12.2917 7.58317ZM15.2533 7.45817C14.8363 8.69363 13.6679 9.58317 12.2917 9.58317C10.9155 9.58317 9.74712 8.69363 9.33011 7.45817H2.08335V5.45817H9.33011C9.74712 4.22271 10.9155 3.33317 12.2917 3.33317C13.6679 3.33317 14.8363 4.22271 15.2533 5.45817H17.9167V7.45817H15.2533ZM7.70835 12.4165C7.08703 12.4165 6.58335 12.9202 6.58335 13.5415C6.58335 14.1628 7.08703 14.6665 7.70835 14.6665C8.32967 14.6665 8.83335 14.1628 8.83335 13.5415C8.83335 12.9202 8.32967 12.4165 7.70835 12.4165ZM4.74678 14.5415H2.08335V12.5415H4.74678C5.16379 11.306 6.33219 10.4165 7.70835 10.4165C9.08452 10.4165 10.2529 11.306 10.6699 12.5415H17.9167V14.5415H10.6699C10.2529 15.777 9.08452 16.6665 7.70835 16.6665C6.33219 16.6665 5.16379 15.777 4.74678 14.5415Z" fill="#000"></path></svg> -->
                <svg class="styles_icon__1bYKL search-form-submit-button__icon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M13.6667 8.74984C13.6667 11.4652 11.4654 13.6665 8.75002 13.6665C6.03462 13.6665 3.83335 11.4652 3.83335 8.74984C3.83335 6.03444 6.03462 3.83317 8.75002 3.83317C11.4654 3.83317 13.6667 6.03444 13.6667 8.74984ZM12.7965 14.5643C11.6494 15.3641 10.2545 15.8332 8.75002 15.8332C4.838 15.8332 1.66669 12.6619 1.66669 8.74984C1.66669 4.83782 4.838 1.6665 8.75002 1.6665C12.662 1.6665 15.8334 4.83782 15.8334 8.74984C15.8334 10.2544 15.3643 11.6494 14.5643 12.7966L17.9672 16.1994L16.1994 17.9672L12.7965 14.5643Z" fill="#000"></path></svg>
            </button>
        </div>
    </div>
    <div class="head-buttons">
        <a href="/login">Войти</a>
    </div>
</header>