<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Кинопоиск. Онлайн кинотеатр</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="container">
        <div class="main">
            <div class="categories">
                <h3>Жанры</h3>
                <a href="">Драма</a>
                <a href="">Комедии</a>
                <a href="">Ужасы</a>
            </div>
            <div class="main-content">
                <h3>Фильмы и сериалы</h3>
                <div class="main-card">
                    <div class="card-left">
                        <div class="film-img">
                            <img src="/images/films/film1.webp" alt="">
                        </div>
                        <div class="film-info">
                            <a href="">Все везде и сразу</a>
                            <a href="">Everything Everywhere All at Once, 2021, 139 мин.</a>
                            <a href="">США, Фантастика</a>
                            <button class="film-btn">
                                <img src="/images/icons/play.svg" alt="">
                                Смотреть
                            </button>
                        </div>
                    </div>
                    <div class="card-right">
                        <div class="film-rate">
                            <p>7.3</p>
                        </div>
                        <button class="film-btn">
                            <img src="/images/icons/save.svg" alt="save">
                            Буду смотреть
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>