.film-btns button{
    width: 100%;
    margin-bottom: 15px;
    padding: 7px 10px;
    border: none;
    border-radius: 15px;
    font-size: 14px;
}

.film-btns button:first-child{
    background-color: yellow;
}

.film-btns button:last-child{
    background-color: red;
    color: white;
}

.add-btn{
    background: linear-gradient(90deg,#ff5c4d,#eb469f 26.56%,#8341ef 75%,#3f68f9);
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    padding: 7px 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    cursor: pointer;
}